<div class="createCard">
  <form action="/projects/edit/{{project.id}}" method="POST">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-secondary">
          <div class="card-header cardHeader">
            <h3 class="card-title">Проект</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputName2">Название проекта</label>
              <input
                type="text"
                id="inputName2"
                class="form-control"
                name="name"
                value="{{project.name}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="inputDescription1">Описание проекта</label>
              <textarea
                id="inputDescription1"
                class="form-control"
                rows="4"
                required
                name="description"
              >{{project.description}}</textarea>
            </div>
            <div class="form-group">
              <label for="inputStatusZ">Статус</label>
              <select
                id="inputStatusZ"
                class="form-control custom-select"
                name="status"
              >
                <option
                  value="{{project.status.status}}"
                  selected="true"
                >По умолчанию</option>
                <option value="On progress">В прогрессе</option>
                <option value="Canceled">Отменен</option>
                <option value="Success">Успешно</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputClientCompany">Клиентская компания</label>
              <input
                type="text"
                id="inputClientCompany"
                class="form-control"
                name="company"
                value="{{project.company}}"
              />
            </div>
            <div class="form-group">
              <label for="inputProjectLeader">Лидер проекта</label>
              <input
                type="text"
                id="inputProjectLeader"
                class="form-control"
                name="leader"
                value="{{project.leader}}"
              />
            </div>
            <div class="form-group">
              <label for="inputProjectDeadline">Дедлайн</label>
              <input
                type="date"
                id="inputProjectLeader"
                class="form-control"
                pattern="[0-9]{4}[0-9]{2}[0-9]{2}"
                name="deadline"
                value="{{project.deadline}}"
                required
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-secondary">
          <div class="card-header cardHeader">
            <h3 class="card-title">Клиент</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputName4">ФИО клиента</label>
              <input
                type="text"
                id="inputName4"
                class="form-control"
                name="clientName"
                value="{{project.clientName}}"
              />
            </div>
            <div class="form-group">
              <label for="inputName5">Номер клиента</label>
              <input
                type="number"
                id="inputName5"
                class="form-control"
                name="clientNumber"
                value="{{project.clientNumber}}"
              />
            </div>
            <div class="form-group">
              <label for="inputName6">Локация</label>
              <input
                type="text"
                id="inputName6"
                class="form-control"
                name="clientLocation"
                value="{{project.clientLocation}}"
              />
            </div>
            <div class="form-group">
              <label for="inputTelegram">Телеграм группа</label>
              <input
                type="text"
                id="inputTelegram"
                class="form-control"
                name="telegram"
                value="{{project.telegram}}"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-secondary">
          <div class="card-header cardHeader">
            <h3 class="card-title">Бюджет</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputEstimatedBudget7">Оплаченная сумма</label>
              <input
                type="number"
                id="inputEstimatedBudget7"
                class="form-control"
                name="totalPayment"
                value="{{project.totalPayment}}"
                required
              />
            </div>
            <button
              type="button"
              class="btn btn-primary addWorker"
              id="addWorker"
            >Добавить сотрудника</button>
            <div class="cardBody">
              {{#each project.works}}
                {{#if worker.id}}
                  <div class="workerBlock row justify-content-start">
                    <div class="form-group col-xl-6 col-10 col-sm-11">
                      <label for="selectGroupR">Сотрудник</label>
                      <select
                        id="selectGroupR"
                        class="form-control select2"
                        name="workers"
                        style="width: 100%;"
                      >
                        <option
                          value="{{worker.id}}"
                          selected="true"
                        >{{worker.fullname}}</option>
                        {{#each @root.workers}}
                          <option value="{{id}}">{{fullname}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <div class="form-group col-xl-5 col-10 col-sm-11">
                      <label for="inputEstimatedBudgetL">Процент</label>
                      <input
                        type="number"
                        id="inputEstimatedBudgetL"
                        class="form-control"
                        name="workerPayment"
                        value="{{payment}}"
                      />
                    </div>
                    <div class="crossRow">
                      <p class="removeWorker"><svg
                          class="removeWorker"
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          version="1.1"
                          viewBox="0 0 16 16"
                          height="1em"
                          width="1em"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            class="removeWorker"
                            d="M15.854 12.854c-0-0-0-0-0-0l-4.854-4.854 4.854-4.854c0-0 0-0 0-0 0.052-0.052 0.090-0.113 0.114-0.178 0.066-0.178 0.028-0.386-0.114-0.529l-2.293-2.293c-0.143-0.143-0.351-0.181-0.529-0.114-0.065 0.024-0.126 0.062-0.178 0.114 0 0-0 0-0 0l-4.854 4.854-4.854-4.854c-0-0-0-0-0-0-0.052-0.052-0.113-0.090-0.178-0.114-0.178-0.066-0.386-0.029-0.529 0.114l-2.293 2.293c-0.143 0.143-0.181 0.351-0.114 0.529 0.024 0.065 0.062 0.126 0.114 0.178 0 0 0 0 0 0l4.854 4.854-4.854 4.854c-0 0-0 0-0 0-0.052 0.052-0.090 0.113-0.114 0.178-0.066 0.178-0.029 0.386 0.114 0.529l2.293 2.293c0.143 0.143 0.351 0.181 0.529 0.114 0.065-0.024 0.126-0.062 0.178-0.114 0-0 0-0 0-0l4.854-4.854 4.854 4.854c0 0 0 0 0 0 0.052 0.052 0.113 0.090 0.178 0.114 0.178 0.066 0.386 0.029 0.529-0.114l2.293-2.293c0.143-0.143 0.181-0.351 0.114-0.529-0.024-0.065-0.062-0.126-0.114-0.178z"
                          >
                          </path>
                        </svg></p>
                    </div>
                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-center">
        <input type="hidden" name="id" value="{{project.id}}" />
        <input
          style="width: 100%;"
          type="submit"
          value="Изменить проект"
          class="btn btn-success float-right createBtn"
        />
      </div>
    </div>
  </form>
</div>